*{
    padding: 0;
    margin: 0;
}
section{
    width: 1300 px;
    height: auto;
}
h1{
    text-align: center;
    font-size: 35px;
}
.caja{
    width: 800px;
    height: auto;
    margin-top:70px;
    background-color: #798777;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.caja div{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid black;
    margin: 7px;
    font-size: 70px;
    text-align: center;
}